<div class="container center">
    <h1>CTG Clipper</h1>
    <h4>CTG Clipper is made possible by <a href="https://cleaningtheglass.com/" target="_blank" class="cyan-text">Cleaning The Glass</a>.</h4>
    <p>Visit Cleaning the Glass for the webs top basketball analysis. Unique stats available with a subscription. Scrape the site to get a sample of the sites offerings.</p>
    <a href="/scraper" class="btn cyan">Clip<i class="material-icons left">content_cut</i></a>
</div>