<div class="container center white">
    <h1>CTG Clipper</h1>
    <h4>CTG Clipper is made possible by <a href="https://cleaningtheglass.com/" target="_blank" class="cyan-text">Cleaning The Glass</a>.</h4>
    <a href="/scraper" class="btn cyan">Clip<i class="material-icons left">content_cut</i></a>
</div>